.companyInfo{
    padding-left: 3rem;
}
.footers1para{
    color: rgb(102, 102, 102);
    font-size: 0.938rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    line-height: 25.5px;
    width: 19.063rem;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}
.footers1paralist{
    color: rgb(34, 34, 34);
    font-size: 0.938rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    line-height: 25.5px;
    width: 19.063rem;
}
.footers1paralistlink{
    text-decoration: none;
    font-weight: 700;
    color: rgb(34, 34, 34);
}
.footers1paralistlink:hover{
    text-decoration: none;
    font-weight: 700;
    color: rgb(34, 34, 34);
}
.footeremailbox{
    background-color: #F74883;
    color: white;
    padding: 20px;
    border-radius: 3%;
}
.footers3listicons{
    margin-left: 1rem;
}
.footers3listicons:hover{
    color: #F74883;
}
.footers2header{
    color: #4A3D8F;
    border-bottom: 2px solid #F74883;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 23.4px;
    width: fit-content;
}
.footers2list{
    color: rgb(102, 102, 102);
    font-size: 0.938rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: auto;
    text-decoration: none;
}
.footers2list:hover{
    color: #F74883;
}
.arrowbefotlist{
    display: none;
}
.footers2list:hover .arrowbefotlist{
    display:inline-block;
    color: #F74883;
}
.cpyrightsection{
    color: rgb(102, 102, 102);
    font-size: 0.938rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    line-height: 25.5px;
    margin-top: 3rem;
}
.cpyrightsectionlastword{
    color: rgb(102, 102, 102);
}
.cpyrightsectionlastword:hover{
    color: #F74883;
}
@media (max-width:900px){
    .logoImage{
        width: 30px;
        height: 30px;
    }
    .footers1para{
        margin-left: 0.2rem !important;
    }
    .companyInfo{
        padding-left: 1rem;
    }
}