.firstparag{
    color: #F74883;
    border-bottom: 1px solid #4A3D8F ;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19.2px;
    width: fit-content;
    margin: auto;
}
h2{
    color: rgb(34, 34, 34);
    font-size: 2.75rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    line-height: 52.8px;
    width: 45rem;
    margin: auto;
}
.secondparag{
    color: rgb(102, 102, 102);
    font-size: 0.938rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    line-height: 25.5px;
    width: 45rem;
    margin: auto;
}
@media (max-width:400px){
    h2{
        width: 22rem;
    }
    .secondparag{
        width: 18rem;
        margin: auto;
    }
    .mapImage{
        display: none;
    }
}
@media (min-width:400px) and (max-width: 900px){
    h2{
        font-size: 2rem;
        width: 25rem;
    }
    .secondparag{
        width: 22rem;
        margin: auto;
    }
    .mapImage{
        display: none;
    }
 }